class {
    color: #000000;
    color: #062F4F;
    color: #B82601;
    color: #2b2b2c;
    color: #9c9a9a;
}

body {
    color:#2b2b2c;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    background-color: #062F4F;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    font-size: 40px;
    line-height: 0.6;
    padding-top: 10px;
    color: white;
    text-shadow: #2b2b2c;
}

header h1 a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 0 10px 0;
    font-weight: lighter;
    color: white;
    background-color: #88888a;
    border-radius: 15px;
}

.subheading {
    font-size: 60%;
    font-weight: normal;
    font-style: italic;
    color: #88888a;
}