
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: slategray;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    padding: 15px;
    font-size: 50px;
}

header nav {
    display: flex;
    justify-content: center;

}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(161, 112, 206), rgb(221, 135, 65));
    margin: 0 15px;
}

header nav ul li:hover {
    background-image: linear-gradient(to right, rgb(221, 135, 65), rgb(161, 112, 206));
}

header nav ul li a {
    padding: 15px;
    color: black;
    font-weight: bold;
}

.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
}

.step h2 {
    font-size: 28px;
    color: white;
}

.step {
    display: flex;
    justify-content: center;
}

.step div{
    width: 50%;
    text-align: justify;
}